[user]
	name = ernestosperanza
	email = 29267672+ernestosperanza@users.noreply.github.com
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autosetupremote = true
[core]
	editor = code --wait
[alias]
    st = status -s
    conf = config --global --edit
    cm = commit 
	sw = switch
    rh = reset HEAD

[core]
	excludesfile = ~/.dotfiles/.gitignore_global
